<p matLine *ngIf="!commentForm.invalid">
    <span> {{ commentForm.value.comment }} </span><br>
    <span> {{ commentForm.value.rating }} Starts </span><br>
    <span> -- {{commentForm.value.author}} {{commentForm.value.date | date}} </span><br><br>
</p>
<form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field class="full-width">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-error *ngIf="formErrors.author">
                {{ formErrors.author }}
            </mat-error>
        </mat-form-field>
    </p>
    <table class="form-size">
    <td>
        <mat-slider formControlName="rating" min="1" max="5" thumbLabel tickInterval="1"></mat-slider>
    </td>
    </table>
    <p>
        <mat-form-field class="full-width">
            <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12>
            </textarea>
            <mat-error *ngIf="formErrors.comment">
                {{ formErrors.comment }}
            </mat-error>
        </mat-form-field>
    </p>
    <button type="submit" mat-button class="background-primary text-floral-white" 
        [disabled]="commentForm.invalid">Submit</button>
</form>