<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button (click)="addToFavorites()"><span class="{{favorite ? 'fa fa-heart fa-lg' : 'fa fa-heart-o fa-lg'}}"></span></button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex [hidden]="dish">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>

  <div class="container"
    fxLayout="column"
    fxLayout.sm="row"
    fxLayout.xs="row"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

      <div class="container"
        fxLayout="column"
        fxLayoutGap="10px">

        <div fxFlex="-20" *ngIf="dish" [@visibility]="visibility" [@expand]>
          <mat-list>
            <h3>Comments</h3>
            <mat-list-item *ngFor="let comment of dish.comments">
              <h1 matLine> {{comment.comment}} </h1>
              <h1 matLine> {{comment.rating}} Starts </h1>
              <p matLine>
                <span> -- {{comment.author.firstname}} {{comment.author.lastname}} {{comment.updatedAt | date}} </span>
              </p>
            </mat-list-item>
            <mat-list-item *ngIf="commentForm.valid">
              <div matLine> {{ commentForm.value.comment }} </div>
              <div matLine> {{ commentForm.value.rating }} Starts </div>
              <div matLine> -- {{ commentForm.value.author }} </div>    
            </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex [hidden]="dish">
          <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
        </div>

      </div>

      <div class="container"
        fxLayout="column"
        fxLayoutGap="0px">

        <div fxFlex="-20" *ngIf="dish">
          <!-- <app-dishcomment [dish]="dish"></app-dishcomment> -->
            <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field class="full-width">
                        <input matInput formControlName="author" placeholder="Name" type="text" required>
                        <mat-error *ngIf="formErrors.author">
                            {{ formErrors.author }}
                        </mat-error>
                    </mat-form-field>
                </p>
                <table class="form-size">
                <td>
                    <mat-slider formControlName="rating" min="1" max="5" thumbLabel tickInterval="1"></mat-slider>
                </td>
                </table>
                <p>
                    <mat-form-field class="full-width">
                        <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12>
                        </textarea>
                        <mat-error *ngIf="formErrors.comment">
                            {{ formErrors.comment }}
                        </mat-error>
                    </mat-form-field>
                </p>
                <button type="submit" mat-button class="background-primary text-floral-white" 
                    [disabled]="commentForm.invalid">Submit</button>
            </form>
        </div>
        <div fxFlex [hidden]="dish || errMess">
          <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
        </div>
        <div fxFlex *ngIf="errMess">
          <h2>Error</h2>
          <h4>{{errMess}}</h4>
        </div>

      </div>

  </div>
</div>